<div>
	<title>Green Chain</title>
	<b-container>
		<b-row>
			<b-col>
				<div>
					{{ $t("sponsor.howtoadvertise") }}
					<div class="gc_ad_text">
						<b-form-input v-model="ad_text" readonly class="w-75"></b-form-input>
						<button type="button" class="btn btn-success" v-clipboard:copy="ad_text" v-clipboard:success="onCopy" v-clipboard:error="onCopyError">{{ copy }}</button>
					</div>
					{{ $t("sponsor.place") }}<br>
					{{ $t("sponsor.numberoftimes") }}
					<br>
					{{ $t("sponsor.incentive") }}
				</div>
			</b-col>
		</b-row>
	</b-container>
</div>
